<h1 class="display-2" align="center"><%= @starship['name'] %></h1>

<table class="table table-bordered">
  <tr>
    <th>Class</th>
    <td><%= @starship['starship_class'] %> </td>
  </tr>
    <tr>
    <th>Model</th>
    <td><%= @starship['model'] %> </td>
  <tr>
    <th>Manufacturer</th>
    <td><%= @starship['manufacturer'] %> </td>
  </tr>
    <tr>
    <th>Cost in credits</th>
    <td><%= @starship['cost_in_credits'] %> </td>
  </tr>
    <tr>
    <th>Length</th>
    <td><%= @starship['length'] %> </td>
  </tr>
      <tr>
    <th>Crew</th>
    <td><%= @starship['crew'] %> </td>
  </tr>
    <tr>
    <th>Passangers </th>
    <td><%= @starship['passengers'] %> </td>
  </tr>
      <tr>
    <th>Max Speed </th>
    <td><%= @starship['max_atmosphering_speed'] %> </td>
  </tr>
      <tr>
    <th>Hyperdrive Rating </th>
    <td><%= @starship['hyperdrive_rating'] %> </td>
  </tr>
      <tr>
    <th>MGLT </th>
    <td><%= @starship['MGLT'] %> </td>
  </tr>
      <tr>
    <th>Cargo Capacity </th>
    <td><%= @starship['cargo_capacity'] %> </td>
  </tr>
    </tr>
      <tr>
    <th>Consumables </th>
    <td><%= @starship['consumables'] %> </td>

      <tr>
    <th>Appears on</th>
    <td>
          <table class="table table-sm">
      <% @films.each do |film|%> 
            <tr>
            <td><%= link_to film['title'], film_path(:id => film['id']) %></td>
            </tr>
          <% end %> 
          </table>
    </td>
  </tr>
    <tr>
    <th>Pilots</th>
    <td>
          <table class="table table-sm">
            <% @characters.each do |char|%> 
            <tr>
              <td><%= link_to char['name_char'], person_path(:id => char['id']) %></td>
            </tr>
          <% end %> 
          </table>
    </td>
  </tr>
    <tr>
    <th>URL</th>
    <td><%= @starship['url'] %> </td>
  </tr>
      <tr>
    <th>Create</th>
    <td><%= @starship['created'] %> </td>
  </tr>
        <tr>
  <th>Edited</th>
    <td><%= @starship['edited'] %> </td>
  </tr>
 </table>