<!DOCTYPE html>
<html>
  <head>
    <title>Starwars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
<nav class="navbar navbar-dark bg-dark">
  <button type="button" class="btn btn-dark"><a class="navbar-brand" href="/">Home</a></button>

  <h6 style="color:white" align="center"> Tarea I IIC3103 - Francisco Vergara M. </h6>
<form action="/search/" class="navbar-form" role="search">
    <div class="form-group">
        <input type="text" name="term" class="form-control" placeholder="Search">
    </div>
</form>

</nav>

  <body>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <%= yield %>
  </body>

</html>
